body{
    margin: 0;
}
.wholepage{
/* width: 100%; */


}


.div1{
    display:flex;
    background-color: rgba(180, 16, 16, 0.781);
    height: 80px;
    justify-content: center;   
}
ul li{
    display:inline-block;   
}

 li a{
    font-size:200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgb(230, 223, 225);  
    padding:35px;   
} 
li a:hover{
    color:rgb(95, 4, 4);
}
.slider{
    width:100%;
      margin: auto auto;
      overflow:hidden;
}
.slides{ 
    display:flex;
    flex-wrap: nowrap;
    width:300%;
    animation: glisse 6s infinite;  
}
.slide{
    width: 100%;
    height: 45em;
    float:left;
    
   }
.slide img{
    width: 100%;
    height: 45em;
}
@keyframes glisse{
    
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(-1500px);
    }
   66% {
        transform: translateX(-3000px);
    }
    100% {
        transform: translateX(0px);
    } 
 } 
.div3{
    display:flex;
    display: inline-block;
   width:100%; 
   height:25em;
   background-image: linear-gradient(to bottom left, rgb(102, 10, 10),black);    

}
.div3 p{
    text-align: center;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(230, 223, 225);
}

.photo{
position: relative;
width:100%;
display:inline-block;
display:flex;
justify-content: center;
justify-content: space-around;
flex-wrap: nowrap;
}
.divl{
    margin-top: 2.5em;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(51, 216, 45);
}
.div4{
    width:100%; 
    height:35em;
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png");
   display:flex;
   justify-content: center;
  }
  .div4 h1{
    font-size:450%;color:white;font-family: 'Poly', serif;
 margin-top:2.75em;
    
  }
  .div5{
   width:100%; 
   height:90em;
   background-image: linear-gradient(to bottom left, rgb(102, 10, 10),black);
   display:flex;
   display:inline-block;
}
.div5 .feedback{
    background-image: linear-gradient(to bottom left, rgb(102, 10, 10),black);
}
.div5 .container{
    width:50%;
    height:70%;
   margin:10% 30% 10% 30%;
   padding-bottom:5px;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
  
}
.div5 .container .box{
    position: relative;
    width:30%;
    height: 20%;
    margin:5px;
    box-sizing:border-box;
}
.div5 .container .box .imgbox{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.div5 .container .box .imgbox img{
    position: relative;
    width:100%;
    height:100%
}
.div5 .container .box:hover .imgbox img {
  transform: scale(1.5);
  
}


.div6{
      width:100%; 
      height:25em;
   
      background-image: linear-gradient(to bottom left, rgb(102, 10, 10),black);  
   }
   .div6 input, .div6 select {
       width:18%;
       height:2em;
   }
   #submit1{
    width:5%;
    height:2em;
   
   }
   .container7{
       width:100%;
       height:20%;
       display:flex;
       justify-content: center;
       overflow: hidden;
   }
   .container7 textarea{
    width: 50%;
   }
   #view1{
    display:none;
    width: 30%;
    height:3em;
    margin-top: 20%;
}
#view2{
    display:none;
    width: 30%;
    height:3em;
    margin-top: 20%;
}
#view3{
    display:none;
    width: 30%;
    height:3em;
    margin-top: 20%;
}
.imag1{
    width:20%;
    height: 10em;
  margin-top:40px;
 background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel.png");
 display: flex;
 justify-content: center;
    }
    .imag2{
        width:20%;
        height: 10em;
      margin-top:40px;
     background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel1.png");
     display: flex;
     justify-content: center;
        }
        .imag3{
            width:20%;
            height: 10em;
          margin-top:40px;
         background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel2.png");
         display: flex;
         justify-content: center;
            }